@model List<Jeu>
@{
}
<h1>Jeux</h1>
<a asp-action="Ajouter">Ajouter nouveau jeu</a>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Joueur actif</th>
            <th>Score</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var jeu in Model)
        {
            <tr>
                <td>@jeu.Nom</td>
                <td>@jeu.Description</td>
                <td>@jeu.Joueur</td>
                <td>@jeu.ScoreJoueur</td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("GetJeu", "Jeu", new { id = jeu.Id })">Détails</a>
                    <a class="btn btn-secondary" href="@Url.Action("Modifier", "Jeu", new { id = jeu.Id })">
                        Modifier
                    </a>
                    <a class="btn btn-danger" href="@Url.Action("Supprimer", "Jeu", new { id = jeu.Id })">
                        Supprimer
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


