@model ScoreBoard.Models.Joueur

@{
    ViewData["Title"] = "Details";
    // Remplacer par l'index plutôt que le id pour la navigation entre les joueurs
    int? idSuivant = Model?.Id + 1;
    int? idPrecedent = Model?.Id - 1;
}

<h1>Details</h1>

<div>
    <h4>Joueur @Model.Id</h4>
    <ul class="d-flex" style="list-style: none;">
        <li class="mx-3">
            <a class="btn btn-primary" asp-route-id="@idPrecedent" asp-action="Details">Joueur précédent</a>
        </li>
        <li>
            <a class="btn btn-primary" asp-route-id="@idSuivant" asp-action="Details">Joueur suivant</a>
        </li>
    </ul>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equipe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Courriel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Courriel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jeux)
        </dt>
        <dd class="col-sm-10">
            @foreach (var jeu in Model.Jeux)
            {
                <span class="badge bg-secondary">@jeu.Nom</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Modifier" asp-route-id="@Model?.Id">Modifier</a> |
    <a asp-action="Index">Back to List</a>
</div>
