@model List<Joueur>
<h1>Dashboard Index</h1>
<div class="row">
    <div class="col-md-12">
        <h2>Top Players</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Courriel</th>
                    @foreach (Joueur joueur in Model) 
                    {

                        @foreach (Jeu jeu in joueur.Jeux) 
                        {
                            <th>@jeu.Nom</th>
                        }
                    }
                    <th>Score total</th>
                </tr>
            </thead>
            <tbody>
                @foreach(Joueur joueur in Model)
                {
                    <tr>
                        <td>@joueur.Nom</td>
                        <td>@joueur.Prenom</td>
                        <td>@joueur.Courriel</td>
                        @foreach (Jeu jeu in joueur.Jeux) 
                        {
                            <td>@jeu.ScoreJoueur</td>
                        }
                        <td>@joueur.Jeux.Sum(j => j.ScoreJoueur)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
